#body{
	height:1800px
}
#bg{ 
	height:800px;
	background-color:gold;
	background-image:url(图标透明有色背景-第二代.png);
	background-size:contain   ;
	background-repeat:no-repeat;
	background-position:center
}