body{
	font-family: "Roboto",sans-serif;
	margin-top: 50px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:gold;
	overflow: hidden;
}
#name{

	position: center;
	width: 288px;
	height: 24px;
	background-color: purple;
	padding: 10px;
	border-radius: 26px;
	margin-bottom: 10px;
}
#btn-submit{
	background-color: purple;
	position: center;
	color: gold;
	font-size: 5px;
	width: 288px;
	height: 36px;
	text-align: center;
	border-radius: 10px;
}
